@media (min-width: 401px) {
    p {
        font-size: 1.3em;
    }

    .container {
        width: 390px;
    }
}

@media (max-width: 299px) {
    h1 {
        text-align: center;
    }
}

@media (max-width: 199px) {
    .container {
        width: 90%;
    }
}

@media (min-width: 200px) and (max-width: 400px) {
    .container {
        width: 80%
    }
}

@media screen {
    .container {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

@media not print {
    body {
        background-color: #ddccaa;
    }
}

@media not (color) {
    #wikipedia-logo {
        display: none;
    }
}

@media (hover:hover) {
    /*
    Este media query es compatible con los siguientes navegadores:
    Chrome: 38
    Edge: 12
    Firefox: 64
    Opera: 28
    Safari: 9
    Webview Android: 38
    Chrome Android: 50
    Forefox for Android: 64
    Opera Android: 28
    Safari on IOS: 9
    Samsung Internet: 5.0
    */
    blockquote {
        background-color: #ccddaa;
    }
}

@media (aspect-ratio: 1/1) {
    figure {
        width: 80%;
        margin: 5px auto;
        padding: 5px;
        border: 1px solid #999;
        border-radius: 10px;
    }
}